/*==================== REVIEWS ====================*/
.reviews {
  background-color: rgba(15, 15, 15, 0.856);

  .section__content {
    background-color: #000;
  }

  .review__img {
    margin: 0 auto 10px;
    border-radius: 30%;
    width: 70%;
    height: 70%;
    display: block;
    filter: sepia(100%);
  }

  .review__text {
    text-align: center;
    color: #fff;
  }
}
