/* =======================
    TABLE OF CONTENTS

00 => RESET
01 => SECTION LAYOUT
02 => HEADER
03 => BANNER
04 => ABOUT

=====================*/

/*================= RESET ===============*/ 
body {
    background-image: linear-gradient(to bottom, rgb(24, 11, 11), black);
}

p {
    font-size: 1.2rem;
}

/*================= SECTION LAYOUT ===================*/
.section {

    .section__title, .section__subtitle {
        text-align: center;
        color: #fff;
    }

    .section__title {
        padding-top: 4rem;
        text-transform: uppercase;
    }

    .section__subtitle {
        font-size: 1.3rem;
    }

    .title-border {
        width: 4rem;
        height: 5px;
        margin: 10px auto 20px;
        background-color: rgb(255, 102, 0);
    }

    .section__content {
        margin-top: 2rem;
        padding: 2rem 0;
    }
}

/*=============== HEADER ===============*/ 
.masthead {
    background-color: black;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-brand a {
        text-decoration: none;
        font-family: cursive;
        color: #fff;
        text-shadow: 1px 1px 7px #000;
    }

    .navigation {
        padding-top: 2rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 60%;
        max-width: 400px;
        background-color: rgba(0, 0, 0, 0.904);
        z-index: 1;
        transform: translateX(-100vw);

        &.open {
            transform: translateX(0);
        }
    }

    .navigation__link {
        padding: 5px;
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        transition: all 250ms linear;

        &:hover {
            color: rgb(255, 30, 0);
        }
    }

    .menu-toggler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 25px;
        width: 2rem;
        cursor: pointer;

        &__icon, &__icon::before, &__icon::after {
            background-color: #ccc;
            height: 2px;
            width: 100%;
        }

        &__icon {
            display: inline-block;
        }

        &__icon::before, &__icon::after {
            content: '';
            position: absolute;
        }

        &__icon::before {
            top: 2px;
            left: 0;
        }

        &__icon::after {
            bottom: 2px;
            right: 0;
        }
    }

    @media(min-width: 960px) {
        .navigation {
            display: flex;
            padding: 0;
            height: auto;
            width: auto;
            position: static;
            transform: translateX(0);
        }

        .navigation__link {
            font-size: 1.1rem;
        }

        .menu-toggler {
            display: none;
        }
    }
}

/*============== BANNER ==============*/
.banner {
    position: relative;
    height: calc(30rem + 1.2vw);
    max-height: 100vh;
    background-image: url('../images/hero/light.jpg');
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.829);
    }

    .body {
        position: relative;
        padding-top: 4rem;
    }
}

/*==================== ABOUT ===================*/ 
.about-me {
    position: relative;
    background-image: url('../images/reviews/rbg.jpg');
    background-size: cover;
    background-attachment: scroll;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.945);
    }

    h2, .title-border, .section__content {
        position: relative;
    }

    .section__content {
        color: #fff;
    }
}

// 
.reviews {
    background-color: rgba(15, 15, 15, 0.856);

    .section__content {
        background-color: #000;
    }

    .review {
        border: none;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 1.3;
    }
}