/* =======================
    TABLE OF CONTENTS

00 => RESET
01 => SECTION LAYOUT
02 => HEADER
03 => BANNER
04 => ABOUT

=====================*/
/*================= RESET ===============*/
body {
  background-image: linear-gradient(to bottom, #180b0b, black);
}

/*================= SECTION LAYOUT ===================*/
.section .section__title, .section .section__subtitle {
  text-align: center;
  color: #fff;
}

.section .section__title {
  padding-top: 4rem;
  text-transform: uppercase;
}

.section .section__subtitle {
  font-size: 1.3rem;
}

.section .title-border {
  width: 4rem;
  height: 5px;
  margin: 10px auto 20px;
  background-color: #ff6600;
}

.section .section__content {
  padding: 2rem 0;
}

/*=============== HEADER ===============*/
.masthead {
  background-color: black;
}

.masthead__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.masthead .site-brand a {
  text-decoration: none;
  font-family: cursive;
  color: #ff6600;
  text-shadow: 1px 1px 7px #000;
}

.masthead .navigation {
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 60%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.904);
  z-index: 1;
  transform: translateX(-100vw);
}

.masthead .navigation.open {
  transform: translateX(0);
}

.masthead .navigation__link {
  padding: 5px;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 250ms linear;
}

.masthead .navigation__link:hover {
  color: #ff1e00;
}

.masthead .menu-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 25px;
  width: 2rem;
  cursor: pointer;
}

.masthead .menu-toggler__icon, .masthead .menu-toggler__icon::before, .masthead .menu-toggler__icon::after {
  background-color: #ccc;
  height: 2px;
  width: 100%;
}

.masthead .menu-toggler__icon {
  display: inline-block;
}

.masthead .menu-toggler__icon::before, .masthead .menu-toggler__icon::after {
  content: '';
  position: absolute;
}

.masthead .menu-toggler__icon::before {
  top: 2px;
  left: 0;
}

.masthead .menu-toggler__icon::after {
  bottom: 2px;
  right: 0;
}

@media (min-width: 960px) {
  .masthead .navigation {
    display: flex;
    padding: 0;
    height: auto;
    width: auto;
    position: static;
    transform: translateX(0);
  }
  .masthead .navigation__link {
    font-size: 1.1rem;
  }
  .masthead .menu-toggler {
    display: none;
  }
}

/*============== BANNER ==============*/
.banner {
  height: calc(30rem + 1.2vw);
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.739);
}

.banner .body {
  padding-top: 4rem;
}

/*==================== ABOUT ===================*/
.about-me {
  position: relative;
  background-image: url("../images/reviews/rbg1.jpg");
  background-size: cover;
  background-attachment: scroll;
}

.about-me::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.945);
}

.about-me h2, .about-me .title-border, .about-me .section__content {
  position: relative;
}

.about-me .section__content {
  color: #fff;
}

.about-me .author-image img {
  filter: grayscale(80%);
}

.reviews {
  background-color: rgba(15, 15, 15, 0.856);
}

.reviews .section__content {
  background-color: #000;
}

.reviews .review {
  border: none;
  text-align: center;
  font-size: 1.3rem;
}
/*# sourceMappingURL=main.css.map */